.features-block-9 {
    font-family: 'Nunito', sans-serif;
    background: #ffffff; 
}

.features-block-9 .bg1 {
    background: url("images/1.jpg");
    height: 450px;
	background-size: cover;
	background-position: center;
}
.features-block-9 .bg2 {
    background: url("images/2.jpg");
    height: 450px;
	background-size: cover;
	background-position: center;
}

/* Text */
.features-block-9 h2 {
	font-size: 2.75rem;
	margin-bottom: .5em;
	margin-top: .3em;
	font-weight: 300;
	font-family: 'Lora', sans-serif;
	font-style: italic;
}

.features-block-9 p {
	color: #b2b2b2;
}

